* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body,
.bamf-gb,
.bamf-gb .main {
  width: 100%;
  height: 100%;
}

.bamf-gb {
  display: flex;
  flex-direction: column;
}

.bamf-gb h1 {
  margin: 10px;
}

#bamf-gb-canvas {
  flex: 1;
  height: 100%;
  border: 1px solid red;
  background-color: white;
}

.bamf-gb .main {
  display: flex;
  flex: 1;
}

.bamf-gb .main .renderer {
  display: flex;
  flex: 1;
  max-width: 50%;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: black;
}

.bamf-gb .main .debug {
  flex: 1;
  border: 1px solid black;
}
